@import 'node_modules/bootstrap/sass/bootstrap';
@import 'vendor/fortawesome/font-awesome/scss/font-awesome';
@import 'nprogress';

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    text-shadow: none !important;
}

.easyzoom {
    float: left;
}

.easyzoom img {
    display: block;
}

#zoomTarget:hover {
    opacity: 0.5;
}
.to_login{
    text-decoration: none;
    a{
        text-decoration: none;
    }
    a:hover{
        text-decoration: none;
    }
}
.login_content {
    width: 89% !important;
}

/* Shrink wrap strategy 2 */

.easyzoom {
    display: inline-block;
}

.easyzoom img {
    vertical-align: bottom;
}
