@import 'node_modules/bootstrap/sass/bootstrap';
//@import 'datatables.bootstrap';
//@import 'responsive.bootstrap';
@import './vendor/components/font-awesome/scss/font-awesome.scss';
@import 'nprogress';
@import 'sweetalert2';
*,
*:before,
*:after {
    box-sizing: border-box;
}

html {}

body {

}
a {
	#admina{
		color: #47bbff !important;
	}
}
a:hover {
    text-decoration: underline;
}
//card
#card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
    max-width: 500px;
    width: 100%;
    margin: auto;
    text-align: center;
    a {
    text-decoration: none;
    font-size: 22px;
    color: black;
	}
	.title {
    color: grey;
    font-size: 18px;
	}
	button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    bottom: 0;
	}

	button:hover, a:hover {
    opacity: 0.7;
	}
}
//endcard
@import 'id-class';
